main{
    background: linear-gradient(rgba(50, 49, 49, 0.7)),  url(./imgs/cropped-icehouse-20180410-015-1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: rgba(0, 0, 0, .4); */
}
body{
    overflow-x: hidden;
}